<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://voyage-onirique.com/wp-content/uploads/2020/11/teddy-bears-cute-alone-in-forest-wallpaper.jpg);">
  <div class="container">
    <h1>Welcome <strong>to</strong> Plushes Bnb</strong>!</h1>
    <p>Never leave without your plush!</p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
<div class="container">
  <%= simple_form_for :query, method: :get,
                                  defaults: { wrapper_html: { class: "mr-3" },
                                              required: false },
                                  html: { class: 'd-flex my-2' } do |f| %>
        <%= f.input :query, label: false,
                            input_html: { name: 'query',
                                          placeholder: "Find a plush",
                                          value: params.dig(:query) } %>
        <%= f.input :color, label:         false,
                                  collection:    Plush.distinct.pluck(:color),
                                  include_blank: 'Color',
                                  selected:      params[:color],
                                  input_html:    { name: :color } %>
        <%= f.input :size, label:         false,
                               collection:    Plush.distinct.pluck(:size),
                               include_blank: 'Size',
                               selected:      params[:size],
                               input_html:    { name: :size } %>
        <%= f.submit "Chercher", class: "btn btn-primary mb-3" %>
        <% end %>
</div>
</div>




<div class="container">
  <div class="text">
    <h1>Meet our Plushes</h1>
    <% case @plushes.count
      when 0 %> No plush match your search
    <% when 1 %> <%= @plushes.count %> plush matches your search :
    <% else %> <%= @plushes.count %> plushes match your search :
    <% end %>
  </div>
</div>

<div class="container">
  <div class="cards-grid">
    <% @plushes.each do |plush| %>
      <%= link_to plush_path(plush) do %>
        <div class="card" >
          <% if plush.photo.attached? %>
            <%= cl_image_tag plush.photo.key, class:"card-img-top" %>
          <% else %>
            <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/620/620744.png">
          <% end %>
          <div class="card-title">
            <h4 class="card-title"><%= plush.name %></h4>
          </div>
          <div class="card-body">
            <p class="card-text"><%= plush.description %></p>
            <h6><i class="fas fa-euro-sign"></i><span><%= plush.price %></span></h6>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
