<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://voyage-onirique.com/wp-content/uploads/2020/11/teddy-bears-cute-alone-in-forest-wallpaper.jpg);">
  <div class="container">
    <h1>Welcome <strong>to</strong> Plushes Bnb</strong>!</h1>
    <p>Never leave without your plush!</p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>


<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>Meet our Plushes</h1>
    </div>
  </div>

  <p>Here's all <%= Plush.count %> of our plushes.</p>

  <div class="row">
    <% @plushes.each do |plush| %>
      <div class="col-12 colsm-6 col-md-4">
        <div class="card" >
              <% if plush.photo.attached? %>
                <%= cl_image_tag plush.photo.key, class:"card-img-top"  %>
              <% else %>
                <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/620/620744.png">
              <% end %>
            <div class="card-body">
              <h4 class="card-title"><%= plush.name %></h4>
            <p class="card-text"><%= plush.description %></p>
                <p>
                <i class="fas fa-euro-sign"></i><span><%= plush.price %></span>
                </p>
            <div class="btn" class="card-footer">
              <div class="bouton-aligne" >
              <%= link_to 'More info', plush_path(plush) %>
              </div>
              <div class="bouton-aligne2">
              <%= link_to "", plush_path(plush),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: "fas fa-trash" %>
            </div>
          </div>
        </div>
      </div>
  </div>
    <% end %>
</div>
