<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our Plushes</h1>
    </div>
  </div>


        <p>All <%= Plush.count %> of our plushes.</p>


  <div class="row">
    <% @plushes.each do |plush| %>
      <div class="col-4">
        <div class="flat-card">

          <div class="flat-card-content">
            <div class="flat-card-title">
              <h4><%= plush.name %></h4>
            </div>
            <p><%= plush.description %></p>
            <div class="flex">
              <div class="flex">
                <i class="fas fa-euro-sign"></i><span><%= plush.price %></span>
              </div>

            </div>
          </div>
     <div class="flat-card-actions">
            <%= link_to 'More info', plush_path(plush) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
