<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
       <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://voyage-onirique.com/wp-content/uploads/2020/11/teddy-bears-cute-alone-in-forest-wallpaper.jpg);" alt="First slide">
          <h1>Welcome <strong>to</strong> Plushes Bnb</strong>!</h1>
          <p>Never leave without your plush!</p>
       </div>
      </div>
      <div class="carousel-item ">
        <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.istockphoto.com/photos/giraffe-soft-toy-and-plush-animal-doll-on-white-background-for-kids-picture-id1036215656?k=20&m=1036215656&s=612x612&w=0&h=uv3ypcvCvS2Zl2HqUc4QVmVQSV5LjCX7RW9DhlbjuAc=);" alt="Second slide">
          <h1>Welcome <strong>to</strong> Plushes Bnb</strong>!</h1>
          <p>Never leave without your plush!</p>
          </div>
        </div>
      <div class="carousel-item ">
        <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://ae01.alicdn.com/kf/HTB1Q.CKKFXXXXXpXXXXq6xXFXXXP/Vente-chaude-25pcs-lot-ours-Paddington-Kawaii-peluche-porte-cl-s-Jouet-Doll-meilleur-cadeau-pour.jpg_Q90.jpg_.webp);" alt="Second slide">
          <h1>Welcome <strong>to</strong> Plushes Bnb</strong>!</h1>
          <p>Never leave without your plush!</p>
          </div>
        </div>
   </div>
   <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
   </div>





<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://voyage-onirique.com/wp-content/uploads/2020/11/teddy-bears-cute-alone-in-forest-wallpaper.jpg);">
  <div class="container">
    <h1>Welcome <strong>to</strong> Plushes Bnb</strong>!</h1>
    <p>Never leave without your plush!</p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  <%# </div>
</div> %>




<div class="title-home">
    <h1>Meet our Plushes</h1>
</div>
<div class="container1">
<div class="search-home">
  <%= simple_form_for :query, method: :get,
                                  defaults: { wrapper_html: { class: "mr-3" },
                                              required: false },
                                  html: { class: 'd-flex my-2' } do |f| %>
        <%= f.input :query, label: false,
                            input_html: { name: 'query',
                                          placeholder: "Find a plush",
                                          value: params.dig(:query) } %>
        <%= f.input :color, label:         false,
                                  collection:    Plush.distinct.pluck(:color),
                                  include_blank: 'Color',
                                  selected:      params[:color],
                                  input_html:    { name: :color } %>
        <%= f.input :size, label:         false,
                               collection:    Plush.distinct.pluck(:size),
                               include_blank: 'Size',
                               selected:      params[:size],
                               input_html:    { name: :size } %>
        <%= f.submit "Chercher", class: "button-home" %>
        <% end %>
    <p>
    <% case @plushes.count
      when 0 %> No plush match your search
    <% when 1 %> <%= @plushes.count %> plush matches your search :
    <% else %> <%= @plushes.count %> plushes match your search :
    <% end %>
    </p>
</div>
</div>

<div class="grid-map">
  <div class="text">
<div class="container-home">
</div>

<div class="container">
  <div class="cards-grid">
    <% @plushes.each do |plush| %>
      <%= link_to plush_path(plush) do %>
        <div class="card" >
          <% if plush.photo.attached? %>
            <%= cl_image_tag plush.photo.key, class:"card-img-top" %>
          <% else %>
            <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/620/620744.png">
          <% end %>
          <div class="card-title">
            <h4 class="card-title"><%= plush.name %></h4>
          </div>
          <div class="card-body">
            <p class="card-text"><%= plush.description %></p>
            <h6><i class="fas fa-euro-sign"></i><span><%= plush.price %></span></h6>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>
<div id="map"
     style="width: 100%; height: 800px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
