
<div class="padding_top">
</div>

<div class="container_registration">
<h1>New Plush</h1>
<% if policy(Plush).create? %>
  <%= simple_form_for(@plush) do |f| %>
  <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :address %>
    <%= f.input :photo, as: :file %>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
<% end %>
<%= link_to 'Back', users_user_profile_path %>

</div>
</div>
