<div class="container">
<h1>My Plushes</h1>
  <div class="wrapper">
      <% current_user.plushes.each do |owner_plush| %>
        <div class="plush-card">
          <p><%= owner_plush.name %></p>
          <p><%= owner_plush.description %></p>
          <% if owner_plush.photo.attached? %>
            <%= cl_image_tag owner_plush.photo.key %>
          <% else %>
            <p>No photo</p>
          <% end %>
          <p><%= owner_plush.price %> € / jour</p>
          <p>Bookings for <%= owner_plush.name %> :</p>
          <% owner_plush.rentals.each do |owner_plush_rental| %>
            <p><%= owner_plush_rental.date %></p>
          <% end %>
        </div>
      <% end %>
  </div>
</div>
<%= link_to 'Add a plush', new_plush_path %>
