

<div class="container">
<div class="barre">
<h5>My plushes rentals</h5>
</div>
  <div class="cards-grid">
  <% current_user.plushes.each do |plush| %>
          <% plush.rentals.each do |rental| %>
        <div class="card" >
          <% if plush.photo.attached? %>
          <p><%= rental.plush.name %></p>
            <%= cl_image_tag plush.photo.key, class:"card-img-top" %>
          <% else %>
            <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/620/620744.png">
          <% end %>
          <div class="card-title">
          <h2><%= rental.plush.name %></h2>
          </div>
          <div class="card-body">
            <p class="card-text"><%= plush.description %></p>
            <p class="card-text"> Booked by : <%= rental.tenant.name %></p>
            <h3 class="card-title">Booking date: <%= rental.date.strftime('%d/%m/%Y') %> </h3>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>





<div class="container">
<div class="barre">
<h5>My plushes bookings</h5>
</div>
  <div class="cards-grid">
  <% current_user.rentals.each do |rental| %>
        <div class="card" >
          <% if rental.plush.photo.attached? %>
          <p><%= rental.plush.name %></p>
            <%= cl_image_tag rental.plush.photo.key, class:"card-img-top" %>
          <% else %>
            <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/620/620744.png">
          <% end %>
          <div class="card-title">
          <h2><%= rental.plush.name %></h2>
          </div>
          <div class="card-body">
            <p class="card-text"><%= rental.plush.description %></p>
            <p class="card-text"> Owner : <%= rental.plush.owner.name %></p>
            <h3 class="card-title">Booking date: <%= rental.date.strftime('%d/%m/%Y') %> </h3>
          </div>
        </div>
      <% end %>
  </div>
  </div>
</div>
