<div class="grid-map1">
 <div class="card-user">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" >
                    <div class="user_info">
                      <h1><%= current_user.name %></h1>
                      <h6>Email: <%= current_user.email %></h6>
                    </div>

<%= link_to 'Add a plush', new_plush_path, class: "button" %>
 </div>


<div class="container">


<div class="wrapper">
    <% current_user.plushes.each do |owner_plush| %>
      <div class="card">
      <%= link_to plush_path(owner_plush) do %>
        <% if owner_plush.photo.attached? %>
          <%= cl_image_tag owner_plush.photo.key, class: "card-img-top"%>
        <% else %>
          <p>No photo</p>
        <% end %>
    <% end %>
        <div class="card-title">
          <p><%= owner_plush.name %></p>
        </div>

        <div class="bouton">
              <%= link_to "", plush_path(owner_plush),
              method: :delete,
              data: { confirm: "Are you sure?" },
              class: "fas fa-trash" %>
        </div>
      </div>
    <% end %>

</div>
</div>

</div>
