
 <div class="card-user">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" >
                    <div class="user_info">
                      <h1><%= current_user.name %></h1>
                      <h6>Email: <%= current_user.email %></h6>
                    </div>
 </div>




<div class="container">
  <div class="wrapper2">
<%= link_to 'Add a plush', new_plush_path, class: "button" %>
  </div>

</div>

<div class="container">
  <div class="wrapper">
      <% current_user.plushes.each do |owner_plush| %>
        <div class="plush-card">
          <% if owner_plush.photo.attached? %>
            <%= cl_image_tag owner_plush.photo.key, class: "plush-card-img"%>
          <% else %>
            <p>No photo</p>
          <% end %>
          <div class="plush-card-text">
            <p><%= owner_plush.name %></p>
            <p><%= owner_plush.description %></p>
            <p><%= owner_plush.price %> € / jour</p>
          </div>
          <p>Bookings for <%= owner_plush.name %> :</p>
          <% owner_plush.rentals.each do |owner_plush_rental| %>
            <p><%= owner_plush_rental.date %></p>
          <% end %>
          <div class="bouton"><h6>Supprimer cette peluche</h6>
                <%= link_to "", users_user_plushes_path(@plush),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "fas fa-trash" %>
          </div>
      <% end %>
  </div>
</div>
